a img.nob {
border:none;
}


body

{

padding:0;

margin:auto;



}

.container

{

width:100%;

float:center;

margin:auto;





}

.full_content

{

margin:auto;

width:100%;

full_content

}

*html .full_content

{

margin-left:1px;

}

.header

{

float:left;

width:100%;

background-image:url(../images/header_repeat.gif);

height:100px;

}

.logo

{

float:left;

background-image:url(../images/logo.gif);

width:211px;

height:100px;

}

.google_ads

{

margin-top:3px;

float:left;

width:780px;

height:90px;

font-family:Arial, Helvetica, sans-serif;

font-size:30px;

font-weight:bold;

text-align:center;

}

.menu_links

{

float:left;

width:100%;

}

.link1

{

float:left;

background-image:url(../images/menu_link.gif);

height:28px;

width:131px;

background-repeat:repeat-x;

font-family:Arial, Helvetica, sans-serif;

font-size:14px;

font-weight:bold;

text-align:center;

color:#000000;

text-decoration:none;

}
.link2

{

float:left;

background-image:url(../images/menu_link.gif);

height:28px;

width:171px;

background-repeat:repeat-x;

font-family:Arial, Helvetica, sans-serif;

font-size:14px;

font-weight:bold;

text-align:center;

color:#000000;

text-decoration:none;

}

.link1 span 

{

float:left;

height:28px;

width:131px;

color:#000000;

padding-top:4px;

text-decoration:none;

}
.link2 span 

{

float:left;

height:28px;

width:171px;

color:#000000;

padding-top:4px;

text-decoration:none;

}

.link1 a 

{

float:left;

height:28px;

width:131px;

color:#000000;

text-decoration:none;

}
.link2 a 

{

float:left;

height:28px;

width:171px;

color:#000000;

text-decoration:none;

}

.link1 a:hover

{

float:left;

height:28px;

width:131px;

color:#000000;

text-decoration:none;

font-weight:bold;

text-align:center;

background-image:url(../images/menu_link_over.gif);

background-repeat:repeat-x;

cursor:pointer;

}
.link2 a:hover

{

float:left;

height:28px;

width:171px;

color:#000000;

text-decoration:none;

font-weight:bold;

text-align:center;

background-image:url(../images/menu_link_over.gif);

background-repeat:repeat-x;

cursor:pointer;

}

.line_image

{

float:left;

background-image:url(../images/line_image.gif);

width:2px;

height:28px;

}

.whole_content

{

float:left;

width:100%;

}

.left_content

{

float:left;

width:292px;

margin-top:4px;

}

*html .left_content

{

margin-top:0px;

}

.site_image

{

margin:0 auto;

border:1px solid #F90;

width:284px;

height:206px;

}

.right_content

{

float:left;

width:698px;

margin-left:6px;

margin-top:4px;

border:0px solid;

}

*html .right_content

{

margin-top:0px;

}

.search_box

{

float:left;

width:698px;

}

.search_left

{

float:left;

background-image:url(../images/calculate_info_left.gif);

height:97px;

width:13px;

}

.search_centre

{

float:left;

background-image:url(../images/calculate_info_centre.gif);

height:97px;

width:670px;

}

.search_right

{

float:left;

background-image:url(../images/calculate_info_right.gif);

height:97px;

width:13px;

}

.search_input

{

float:left;

margin:9px 0px 0px 0px;

}

.calculate_button

{

float:left;

margin-left:250px;

margin-top:3px;

}

*html .calculate_button

{

margin-left:83px;

}

.site_estimate

{

margin-top:2px;

float:left;

background-image:url(../images/estimated_amount.gif);

width:695px;

height:30px;

}

.update_box

{

margin-top:2px;

float:left;

background-image:url(../images/updated_box.gif);

width:177px;

height:83px;

}

.update_button

{

float:left;

background-repeat:no-repeat;

margin:4px 0px 0px 30px;

}

*html .update_button

{

margin:6px 0px 0px 10px;

}

.google_ads1

{

margin-left:4px;

margin-top:4px;

float:left;

background-color:#ffffff;

width:512px;

height:55px;

border:1px solid #ffffff;

text-align:center;

font-size:30px;

font-weight:bold; 

font-family:Arial, Helvetica, sans-serif;

color:#000000;

}

.google_ads2

{

border:1px solid #ffffff;

float:left;

background-color:#ffffff;

width:512px;

height:19px;

margin-left:4px;

margin-top:2px;

text-align:center;

font-size:14px;

font-weight:bold; 

font-family:Arial, Helvetica, sans-serif;

color:#000000;

}

.next_content

{

float:left;

width:985px;

margin-left:7px;



}

*html .next_content

{

margin-left:4px;

}

.repeat_content

{

float:left;

margin-top:2px;

}

.title

{

float:left;

background-repeat:no-repeat;

width:120px;

height:28px;

padding-top:-10px;

}

.description

{

float:left;

width:865px;

}

.description_up

{

float:left;

background-image:url(../images/description_up.gif);

background-repeat:no-repeat;

width:865px;

height:4px;

font-size:1px;

}

.description_centre

{

float:left;

background-repeat:repeat-y;

width:865px;

}

.description_bottom

{

float:left;

background-image:url(../images/description_bottom.gif);

background-repeat:no-repeat;

width:865px;

height:4px;

font-size:1px;

}

.next_whole_content

{

margin-top:8px;

float:left;

width:982px;

}

.next_left_content

{

float:left;

width:630px;

}

.repeat_content1

{
display:none;

float:left;

width:380px;

margin-top:2px;


}

.title1

{

float:left;

background-image:url(../images/worth_box.gif);

background-repeat:no-repeat;

width:120px;

height:28px;

}

.description_up1

{

float:left;

background-image:url(../images/worth_box_amount.jpg);

background-repeat:no-repeat;

width:260px;

height:28px;

}

.google_ads3

{

margin-top:2px;

border:2px solid #ffffff;

float:left;

background-color:#ffffff;

width:200px;

height:84px;

text-align:center;

font-size:30px;

font-weight:bold; 

font-family:Arial, Helvetica, sans-serif;

color:#000000;

}

.graph_output

{

float:left;

width:632px;

margin-top:4px;

}

.graph_output_image

{

float:left;

width:630px;

background-image:url(../images/graph_box.gif);

height:176px;

}

.left_graph

{

float:left;

width:315px;

}

.alexa_rank_image

{

float:left;

margin-left:20px;

width:250px;

height:150px;

}

*html .alexa_rank_image

{

margin-left:13px;

}

.right_graph

{

float:left;

width:315px;

}

.next_right_content

{

float:left;

width:340px;

margin-left:6px;

}

.google_ads4

{

float:left;

margin-top:2px;

border:2px solid #ffffff;

background-color:#ffffff;

width:340px;

height:300px;

font-size:12px;

font-family:Arial, Helvetica, sans-serif;

color:#000000;

}

.embedbox

{

float:left;

margin-top:2px;

border:2px solid #ffffff;

background-color:#ffffff;

width:300px;

font-size:12px;

font-family:Arial, Helvetica, sans-serif;

color:#000000;

}

.left_div

{

float:left;

width:100%;

}

.other

{

float:left;

background-image:url(../images/othersite_image.gif);

width:168px;

height:44px;

margin-top:2px;

}

.other1

{

float:left;

background-image:url(../images/othersite_image.gif);

width:168px;

height:44px;

margin-left:4px;

margin-top:2px;

}

.website_names

{

float:left;

width:168px;

margin-top:2px;

margin-left:1px;

}

.website_names_up

{

float:left;

background-image:url(../images/website_name_box_up.gif);

background-repeat:repeat-x;

width:168px;

height:6px;

font-size:1px;

}

.website_names_centre

{

float:left;

background-image:url(../images/website_name_box_centre.gif);

background-repeat:repeat-y;

width:168px;

height:650px;

}

.website_names_bottom

{

font-size:1px;

float:left;

background-repeat:repeat-x;

background-image:url(../images/website_name_box_bottom.gif);

width:168px;

height:6px;

}

.bullet_image

{

float:left;

background-image:url(../images/bullet.gif);

width:12px;

height:12px;

margin-left:5px;

background-repeat:no-repeat;

margin-top:2px;

}

*html .bullet_image

{

margin-left:3px;

}

.site_names2

{

float:left;

font-size:1px;

width:320px;

}

.site_name2

{

float:left;

font-family:Arial, Helvetica, sans-serif;

font-size:12px;

font-weight:bold;

padding-left:5px;

width:280px;

}

.site_name2 a

{

font-family:Arial, Helvetica, sans-serif;

font-size:12px;

font-weight:bold;

color:#999999;

text-decoration:none;

}

.site_name2 a:hover

{

color:#000000;

}

.site_names

{

float:left;

font-size:1px;

}

.site_name

{

float:left;

font-family:Arial, Helvetica, sans-serif;

font-size:12px;

font-weight:bold;

padding-left:5px;

}

.site_name a

{

font-family:Arial, Helvetica, sans-serif;

font-size:12px;

font-weight:bold;

color:#999999;

text-decoration:none;

}

.site_name a:hover

{

color:#000000;

}

.directory_contents

{

float:left;

width:628px;

}

.directory_info

{

float:left;

width:628px;

}

.directory_name

{

float:left;

width:628px;

font-family:Arial, Helvetica, sans-serif;

font-size:14px;

font-weight:bold;

color:#78de00;

padding-top:2px;

}

.directory

{

float:left;

width:628px;

margin-left:0px;

}

.dmoz

{

font-family:Arial, Helvetica, sans-serif;

font-size:12px;

font-weight:bold;

color:#060;

margin-left:2px;

text-align:center;

padding-top:3px;

float:left;

background-image:url(../images/title_box.gif);

background-repeat:no-repeat;

width:120px;

height:21px;

}

.dmoz2

{

font-family:Arial, Helvetica, sans-serif;

font-size:14px;

font-weight:bold;

color:#060;

margin-left:2px;

text-align:center;

padding-top:3px;

float:left;

background-image:url(../images/title_box.jpg);

background-repeat:no-repeat;

width:120px;

height:21px;

}


.yes

{

font-family:Arial, Helvetica, sans-serif;

font-size:12px;

font-weight:bold;

color:#060;

padding-left:5px;

padding-top:3px;

float:left;

background-image:url(../images/directory_box.gif);

background-repeat:no-repeat;

width:185px;

height:21px;



}

.yes2

{

font-family:Arial, Helvetica, sans-serif;

font-size:14px;

font-weight:bold;

color:#060;

padding-left:5px;

padding-top:3px;

float:left;

background-image:url(../images/directory_box.gif);

background-repeat:no-repeat;

width:185px;

height:21px;

text-align:center;

}


.whois

{

float:left;

width:630px;

}

.whois_up

{

float:left;

background-image:url(../images/whois_up.gif);

background-repeat:no-repeat;

width:630px;

height:11px;

font-size:1px;

}

.whois_centre

{

float:left;

background-image:url(../images/whois_middle.gif);

width:630px;

}

.whois_bottom

{

float:left;

background-image:url(../images/whois_bottom.gif);

background-repeat:no-repeat;

width:630px;

font-size:1px;

height:11px;

}

.text_content

{

padding-left:10px;

font-family:Arial, Helvetica, sans-serif;

font-size:12px;

font-weight:bold;

color:#6c6c6c;

}

.footer

{

margin-top:10px;

margin-left:3px;

float:left;

width:100%;

background-image:url(../images/footer.gif);

height:25px;

}

*html .footer

{

margin-left:1px;

}

.footer_links

{

float:left;

width:100%;

border:0px solid red;

}

.text_contents

{

width:980px;

}

.some_text

{

float:left;

margin:5px 0px 0px 5px;

}

*html .some_text

{

margin:2px 0px 0px 3px;

}

.some_text_left

{

float:left;

background-color:#D1FBC6;

height:47px;

width:8px;

}

.some_text_centre

{

float:left;

background-color:#D1FBC6;width:972px;

}

.some_text_right

{

float:left;

background-color:#D1FBC6;height:47px;

width:8px;

}

.text

{

float:left;

font-family:Arial, Helvetica, sans-serif;

font-size:12px;

font-weight:bold;

color:#434343;

padding-left:2px;

padding-top:3px;

text-align:justify;

}

.calculate_box

{

margin:5px 0px 0px 5px;

float:left;

background-repeat:no-repeat;

width:987px;

height:173px;

}

.search_info

{

margin:20px 0px 0px 14px;

width:950px;

}

.search_input1

{

float:left;

}

.calculate_button1

{

margin:10px 0px 0px 325px;

float:left;

}

* html .calculate_button1

{

margin:10px 0px 0px 105px;

}

.google_ads5

{

border:1px solid #ffffff;

margin-top:3px;

margin-left:8px;

float:left;

background-color:#ffffff;

width:975px;

height:20px;

font-family:Arial, Helvetica, sans-serif;

font-size:14px;

font-weight:bold;

text-align:center;

}

.under_content

{

width:985px;

border:0px #FF0000 solid;

margin:3px 0px 0px 5px;

}

.left_under_content

{

width:100%;

border:0px #FF0000 solid;

}

.under_content_box

{
displya:none;
float:left;

width:335px;

background-image:url(../images/site_name-box.gif);

height:26px;

border:1px #6a6a6a solid;

padding-top:10px;

text-align:center;

}

.under_content_box1

{
display:none;

border:1px #6a6a6a solid;

margin-left:10px;

float:left;

padding-top:10px;

text-align:center;

width:335px;

background-image:url(../images/site_name-box.gif);

height:26px;

}

.right_under_content

{

margin-left:5px;

float:left;

width:290px;

border:0px #FF0000 solid;

}

.site_name_box

{
display:none;
border:1px #c5c5c5 solid;

float:left;

width:100%;

background-image:url(../images/site_name_box_under.gif);

}

.site_name_box1

{
display:none;
margin-top:10px;
border:1px #c5c5c5 solid;

float:left;

width:100%;

background-image:url(../images/site_name_box_under.gif);

}

.google_ads6

{

border:1px solid #ffffff;

float:left;

background-color:#ffffff;

width:300px;

height:300px;

font-family:Arial, Helvetica, sans-serif;

font-size:14px;

font-weight:bold;

text-align:center;

margin-bottom:5px;

}